.btn {
  font-family: inherit;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
}

.btn--main {
  height: 75px;
  padding: 25px 65px;
  font-size: 25px;
  line-height: 1;
  background: $yellow;
  color: $light_black;
  font-weight: 800;
}

.btn--main:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #FAD241;
}

.btn--whatsapp {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 75px;
  padding: 25px 30px;
  background: $green;
  color: $white;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  text-transform: none;
}

.btn--whatsapp:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #25D366;
}

.btn--whatsapp svg {
  display: block;
  width: 37px;
  height: 37px;
}

a.btn--callback {
  padding: 16px 10px;
  background: #fad241;
  color: #33241a;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
}

a.btn--callback:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #FAD241;
  color: #33241a;
}
