.intro {
  margin-top: -210px;
  padding: 326px 0 195px;
  background-image: url('../img/intro-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro__title {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 1.4;
  font-weight: 700;
  color: $white;
}

.intro__title-text {
  margin-bottom: 8px;
}

.intro__title-price {
  margin-bottom: 8px;
  display: inline-block;
  padding: 9px 16px;
  font-size: 50px;
  line-height: 1;
  color: $light_black;
  background-color: $yellow;
  border-radius: 5px;
}

.intro__title-location {
  text-transform: uppercase;
  font-weight: 500;
}

.intro__subtitle {
  margin-bottom: 30px;
  max-width: 750px;
  line-height: 1.4;
  color: $white;
}

.intro__wrap-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.intro__link-whatsapp {
  position: relative;
}

.intro__link-whatsapp::after {
  content: '';
  display: block;
  width: 366px;
  height: 67px;
  background-image: url('../img/callme.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -90px;
  right: 0;
  z-index: 1;
}
